html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(238, 3, 107, 0.1);
}

.temp {
  background-color: rgb(255, 50, 26);
  background-color: rgb(255, 144, 27);
  background-color: rgb(238, 3, 107);
  background-color: rgb(69, 14, 255);
  background-color: rgb(34, 0, 112);
}

.game-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

@media (hover: none) {
  .game-panel {
    height: 85vh;
    padding: 5% 0;
    justify-content: flex-start;
  }
}

canvas {
  display: block;
  border: 3px solid black;
}

.level-text,
.lives-text {
  font-family: monospace;
  font-size: xxx-large;
  font-weight: 500;
}

.lives-text,
.level-text {
  margin-bottom: -28px;
}

@media (max-width: 500px) {
  .level-text,
  .lives-text {
    font-size: xx-large;
    margin-bottom: 0;
  }

  .lives-text {
    margin-bottom: -24px;
  }
}

.control-panel {
  background-color: #0f172a33;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (hover: hover) {
  .control-panel {
    display: none;
  }
}

.control-panel .left-right,
.control-panel .up-down {
  display: flex;
  gap: 6px;
}

.control-panel .up-down {
  flex-direction: column;
}

.control-panel .left-right > button,
.control-panel .up-down > button {
  width: 60px;
  aspect-ratio: 1/1;
  font-size: xx-large;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-panel .left-right > button:active,
.control-panel .up-down > button:active {
  transform: scale(0.95);
}
